body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
}

.footer {
    background-color: #5eeec3;
    padding: 20px 0;
}

.faindex_color {
    color: #86319f;
}

.semi-transparent {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 20px;
}

.full-transparent {
    background-color: rgba(255, 255, 255, 0.0);
}

/*There must be a simpler way to do this, but this works for now*/
.custom-select {
    position: relative;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23333\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 8px 10px;
    appearance: none;
}