@page
@model _WebAppToys.Pages.Customer.Trade.BidsForListingModel
@{
    ViewData["Title"] = "Bids for Listing";
}

<h2>Bids for Listing @Model.ListingId</h2>

<table class="table">
    <thead>
        <tr>
            <th>Money Offer</th>
            <th>Trade Item</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var bid in Model.Bids)
        {
            <tr>
                <td>$@bid.Price</td>
                <td>@Model.TradeListings[bid.Trade_Id ?? 0].Name</td>
               
            </tr>
        }
    </tbody>
</table>