@page
@model WebAppToys.Pages.Listings.IndexModel
@using Infrastructure.Utility
@{
    ViewData["Title"] = "Listings";
}

<div class="container backgroundwhite border p-3">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Toy List</h2>
        </div>
        <div class="col-6 text-end">
            @if (User.IsInRole(SD.UserRole))
            {
                <a asp-page="Upsert" asp-route-id="0" class="btn btn-primary">
                    <i class="fas fa-plus"></i>&nbsp;Create New
                </a>
            }

        </div>
    </div>
    </br></br>
</div>
<table id="DT_load" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>
                Toy Name
            </th>
            <th>
                Desctiption
            </th>

            <th></th>
        </tr>
    </thead>

</table>
@section Scripts{
    @if (User.IsInRole(SD.UserRole) || User.IsInRole(SD.AdminRole))
        {
            <script src="~/js/listing.js"></script>
        }
        else
        {
            <script src="~/js/listingView.js"></script>
        }
    }

