@page
@model _WebAppToys.Pages.Customer.CreateModel

@{
    ViewData["Title"] = "Bid";
}


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card semi-transparent shadow border-0">
                    <div>
                        <h4>Bid For @Model.ListingObj.Name</h4>
                    </div>
                    <div class="card-body full-transparent">
                        <form method="post">
                            <input type="hidden" asp-for="BidsObj.User_Id" />
                            <input type="hidden" asp-for="BidsObj.Listing_Id" />
                            <input type="hidden" asp-for="BidsObj.Status" />

                            <div class="form-group">
                                <label asp-for="BidsObj.Price" class="control-label"></label>
                                <input asp-for="BidsObj.Price" class="form-control" placeholder="Enter bid price" />
                                <span asp-validation-for="BidsObj.Price" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <label asp-for="BidsObj.Trade_Id" class="control-label"></label>
                                <select asp-for="BidsObj.Trade_Id" asp-items="Model.UserListings" class="form-control">
                                    <option value="">-- Select a listing --</option>
                                </select>
                                <span asp-validation-for="BidsObj.Trade_Id" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-4 d-flex justify-content-between">
                                <input type="submit" value="Place Bid" class="btn btn-primary" />
                                <a class="btn btn-outline-primary" asp-page="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

