@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to the Kids' Toy Swap! Our website is the perfect solution for parents looking to save money and help the environment. With our easy-to-use platform, you can upload photos and descriptions of your children's gently used toys, and connect with other parents to trade or give them away.
        Not only will you be able to keep your kids entertained without breaking the bank, but you'll also have the added benefit of helping the environment. By giving toys a second life, you'll be reducing waste and conserving resources. Plus, the Kids' Toy Swap is a great way to build community with other parents. Join us today and start enjoying the benefits of an active toy-trading community!
    </p>
</div>

