@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="card text-center bg-transparent">
        <div class="card-body semi-transparent text-center">
            <h1 class="display-4">Swap, Save, and Connect</h1>
            <p class="lead">
                Welcome to the <strong>Toy Swap Hub</strong>! Our website is the perfect solution for parents looking to save money and help the environment. With our easy-to-use platform, you can upload photos and descriptions of your children's gently used toys, and connect with other parents to trade or give them away.
            </p>
        </div>
    </div>
        <div class="row mt-4 d-flex">
            <div class="col-md-4 d-flex">
                <div class="card text-center bg-transparent flex-fill">
                    <div class="card-body semi-transparent">
                        <i class="fas fa-tags fa-3x faindex_color mb-3"></i>
                        <h5 class="card-title">Save Money</h5>
                        <p class="card-text">Not only will you be able to keep your kids entertained without breaking the bank, but you'll also have the added benefit of helping the environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card text-center bg-transparent flex-fill">
                    <div class="card-body semi-transparent">
                        <i class="fas fa-recycle fa-3x faindex_color mb-3"></i>
                        <h5 class="card-title">Eco-Friendly</h5>
                        <p class="card-text">By giving toys a second life, you'll be reducing waste and conserving resources. It's a win-win for both your wallet and the environment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card text-center bg-transparent flex-fill">
                    <div class="card-body semi-transparent">
                        <i class="fas fa-users fa-3x faindex_color mb-3"></i>
                        <h5 class="card-title">Build Community</h5>
                        <p class="card-text">The Kids' Toy Swap is a great way to build community with other parents. Join us today and start enjoying the benefits of an active toy-trading community!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
